$headings: "5772d80e25f52";
$images: "58349ad66ded1";
$links: "58349cf9486f1";
$descriptions: "58349be6486ee";
$headings456: "5bd0c1f7a7224";
$images456: "5bd0c237a7228";
$links456: "5bd0c2dba722e";
$descriptions456: "5bd0c31ba7232";

// Cells plugin
$cp-repeater: "597668026c785";
$cp-summary-wysiwyg: "59766d3c6c78c";

@media screen and (min-width: 782px) {
	.acf-field {

		.layout[data-layout="columns"] {

			.acf-field-repeater {

				> .acf-label {
					padding-top: 12px;
				}

				&.acf-field-#{$headings} > .acf-label,
				&.acf-field-#{$headings456} > .acf-label {
					padding-top: 28px;
				}

				td.acf-field[data-name="image1of2"] {
					width: 49.9%;
				}

				td.acf-field[data-name="image2of2"] {
					width: 50.1%;
				}

				td.acf-field[data-name="image1of3"],
				td.acf-field[data-name="image2of3"],
				td.acf-field[data-name="image3of3"] {
					width: 33.3%;
				}
			}

			// Remove bottom spacing
			.acf-field.acf-field-#{$headings},
			.acf-field.acf-field-#{$images},
			.acf-field.acf-field-#{$links},
			.acf-field.acf-field-#{$headings456},
			.acf-field.acf-field-#{$images456},
			.acf-field.acf-field-#{$links456} {

				td.acf-field {
					padding-bottom: 0;
				}

				.acf-table {
					border-bottom: 0;
				}

				.acf-label,
				.acf-input {
					padding-bottom: 0;
				}

				.acf-repeater > table {
					margin-bottom: 0;
				}
			}

			// Remove top spacing
			.acf-field.acf-field-#{$images},
			.acf-field.acf-field-#{$links},
			.acf-field.acf-field-#{$descriptions},
			.acf-field.acf-field-#{$images456},
			.acf-field.acf-field-#{$links456},
			.acf-field.acf-field-#{$descriptions456} {
				border-top-width: 0;

				.acf-table,
				.acf-label,
				.acf-input {
					border-top: 0;
				}

				// > .acf-label,
				> .acf-input {
					padding-top: 0;
				}
			}

			// Image field changes
			.acf-fields > .acf-field.acf-field-#{$images} .acf-table > tbody > tr > td,
			.acf-fields > .acf-field.acf-field-#{$images456} .acf-table > tbody > tr > td {
				border-width: 0 0 0 0;

				// Two column layout
				&[data-name="image1of2"] {
					border-right-width: 1px;
				}

				&[data-name$="of2"] {
					width: 50%;
				}

				// Three column layout
				&[data-name$="of3"] {
					border-width: 0 1px 0 0;
					width: 33.33%;
				}

				&[data-name="image3of3"] {
					border-width: 0;
				}
			}
		}
	}
}

.acf-field {

	&[data-name="accordion_title"] .acf-editor-wrap iframe {
		min-height: 100px;
		max-height: 100px;
	}

	&[data-name="accordion_content"] #add_gform,
	&[data-name="accordion_content"] #soliloquy-media-modal-button,
	&.acf-field-wysiwyg .acf-editor-wrap[data-toolbar="simple_text"] .mce-menubar,
	&.acf-field-wysiwyg .acf-editor-wrap[data-toolbar="simple_title"] .mce-menubar,
	&.acf-field-59766d746c78d .acf-label {
		display: none;
	}

	.acf-label {
		box-sizing: border-box;
	}

	.layout[data-layout="columns"] {
		.acf-field-repeater thead {
			display: none;
		}
		// Extend image borders to match height of notes
		.acf-field.acf-field-#{$images},
		.acf-field.acf-field-#{$images456} {
			.acf-label, .acf-table {
				$line-height: 16.8px;

				@media screen and (min-width: 782px) {
					height: 33.2 + $line-height * 3;
				}
				@media screen and (min-width: 850px) {
					height: 33.2 + $line-height * 4;
				}
				@media screen and (min-width: 883px) {
					height: 33.2 + $line-height * 4;
				}
				@media screen and (min-width: 946px) {
					height: 33.2 + $line-height * 3;
				}
				@media screen and (min-width: 961px) {
					height: 33.2 + $line-height * 5;
				}
				@media screen and (min-width: 1007px) {
					height: 33.2 + $line-height * 4;
				}
				@media screen and (min-width: 1070px) {
					height: 33.2 + $line-height * 3;
				}
				@media screen and (min-width: 1300px) {
					height: 33.2 + $line-height * 2;
				}
				@media screen and (min-width: 1767px) {
					height: 33.2 + $line-height * 1;
				}
			}
		}
	}

	// [Plugin] AgriLife Flexible Columns Addon: Cells
	&.acf-field-#{$cp-repeater} {

		.acf-fields.-left > &.acf-field::before {
			bottom: auto;
			height: 44px;
			width: 100%;
			border-width: 0 0 1px 0;
		}

		.acf-fields.-left > & > .acf-label {
			text-align: center;
			width: 100%;
		}

		.acf-fields.-left > & > .acf-input {
			width: 100%;
		}

		.acf-fields {
			padding-top: 7px!important; // sass-lint:disable-line no-important
			padding-bottom: 15px!important; // sass-lint:disable-line no-important
		}

		.acf-field {
			border-top-width: 0;
			padding-bottom: 0;
			padding-top: 8px;
		}

		.acf-field:not(.acf-field-wysiwyg) {
			@media screen and (min-width:  480px) {
				.acf-label {
					float: left;
					width: 20%;
					line-height: 26px;
					margin-bottom: 0;
				}
				.acf-input {
					float: left;
					width: 80%;
				}
			}
		}

		.acf-field.acf-field-wysiwyg {
			.acf-label {
				display: none;
			}

			&.acf-field-#{$cp-summary-wysiwyg} {
				$height: 170px;

				textarea[name*="field_#{$cp-summary-wysiwyg}"] {
					height: $height !important; // sass-lint:disable-line no-important
				}
				.acf-editor-wrap iframe {
					min-height: ($height - 17px);
				}
			}
		}
	}
}
