.entry-header,
.entry-content .soliloquy-container {
	margin-left: auto;
	margin-right: auto;
}
.entry-header {
	max-width: 1024px;
}
.entry-content .soliloquy-container,
.higher-content,
.repeating-content,
.lower-content {
	margin-top: 2rem!important; // sass-lint:disable-line no-important
	max-width: 1024px;
}
.higher-content,
.repeating-content,
.lower-content {
	p {
		margin-bottom: 0;
		& ~ p {
			margin-top: 1rem;
		}
	}
}
.repeating-content {
	.row {
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.columns:first-child {
		padding-left: 0;
		padding-right: 29px;
	}
	.columns+.columns {
		padding-left: 29px;
		padding-right: 0;
	}
	@media screen and (max-width: 45em) {
		.row {
			text-align: center;

			.columns {
				text-align: left;
				display: inline-block;
				float: none;
				max-width: 483px;
				padding: 0;

				& + .columns {
					margin-top: 1rem;
				}
			}
		}
	}
	.image + .description,
	.row:first-child ~ .row {
		margin-top: 1rem;
	}
	.image img {
		width: 485px;
	}
}
